html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Spinnaker', sans-serif;
  margin-top: 60px;
  }

#name-brand {
  font-size: 80px;
  font-family: 'Sigmar One', cursive;
}

#header-img {
    height: 40px;
  }

/* horizontal navbar */

#nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* stays at the top of the page*/
  top: 0;
  width: 100%;
  background-color: red;
  border: 2px solid black;
}

nav a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
}