main {
  padding-top: 60px;
}

body {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Spinnaker', sans-serif;
  text-align: center;
  }

#name-brand {
  font-size: 2em;
  font-family: 'Sigmar One', cursive;
}

/* horizontal navbar */

#header-img {
    height: 40px;
  }

#nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* stays at the top of the page*/
  top: 0;
  width: 100%;
  background-color: red;
  border: 2px solid black;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  height: 40px;
}

nav a:hover {
  background-color: black;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pokemon {
  border: solid 2px black;
}

.type-img {
  height: 180px;
  width: 180px;
}